/*Please do not make any changes in the given code template*/
h1{
    text-align: center;
    color:#666666;
}
h3{
    color:bisque;
  
}
body{
    background-color: #ffe5b4;
    margin-left:65px;
   
}