/*Please do not make any changes in the given template*/
h1{
    text-align: center;
    color:aqua;
}
h3{
    color:bisque;
  
}
body{
    background-color: #2e5984;
    margin-left:65px;
    color: aliceblue;
}